Repository kakaotech-19/backend, pull requests merged in 2024-10, with the labels that each got.

#3 Feature/#2 foldering
  .github/workflows/issue-to-jira.yml
  .gitignore
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
  settings.gradle
  src/main/java/com/heartsave/todaktodak_api/TodaktodakApiApplication.java
  src/test/java/com/heartsave/todaktodak_api/TodaktodakApiApplicationTests.java
Labels: 🏗️config

#6 feat: 지라 이슈 생성 스크립트
  .github/workflows/create-jira-issue.yml
Labels: ✨feature

#9 feat: 자바 21 빌드 스크립트 TODAK-52
  .github/workflows/build-spring.yml
  gradle/wrapper/gradle-wrapper.properties
Labels: ✨feature

#11 Todak 61
  build.gradle
  gradlew
  src/main/java/com/heartsave/todaktodak_api/TodaktodakApiApplication.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/LoginIdCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/NicknameCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/service/AuthService.java
  src/main/java/com/heartsave/todaktodak_api/common/type/AuthType.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/main/java/com/heartsave/todaktodak_api/member/repository/MemberRepository.java
  src/main/java/com/heartsave/todaktodak_api/member/service/MemberService.java
  src/test/java/com/heartsave/todaktodak_api/auth/service/AuthServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/member/repository/MemberRepositoryTest.java
Labels: ✨feature, 🏗️config, 🧪test

#13 Todak 92
  src/main/java/com/heartsave/todaktodak_api/auth/controller/AuthController.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/LoginIdCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/NicknameCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/BaseException.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorResponse.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/GlobalExceptionHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/type/AuthType.java
  src/main/java/com/heartsave/todaktodak_api/common/type/ErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/config/JpaAuditConfig.java
  src/main/java/com/heartsave/todaktodak_api/config/SwaggerConfig.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/test/java/com/heartsave/todaktodak_api/auth/controller/AuthControllerTest.java
Labels: ✨feature, 🏗️config, 🧪test

#15 Todak 100
  .github/workflows/issue-to-jira.yml
  .gitignore
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/TodaktodakApiApplicationTests.java
  src/test/java/com/heartsave/todaktodak_api/member/repository/MemberRepositoryTest.java
Labels: 🏗️config

#21 Feature/todak 115/discord alert
  .github/workflows/build-spring.yml
Labels: ✨feature

#23 Feature/todak 122/upload ghcr
  .github/workflows/build-spring.yml
  Dockerfile
Labels: ✨feature, 🏗️config

#19 Todak 79 [feat] 일기 작성 API 개발
  build.gradle
  src/main/java/com/heartsave/todaktodak_api/ai/config/AiServerWebClientConfig.java
  src/main/java/com/heartsave/todaktodak_api/ai/dto/AiContentRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/dto/AiContentResponse.java
  src/main/java/com/heartsave/todaktodak_api/ai/service/AiService.java
  src/main/java/com/heartsave/todaktodak_api/common/entity/BaseEntity.java
  src/main/java/com/heartsave/todaktodak_api/common/type/ErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/diary/constant/DiaryContentConstraintConstant.java
  src/main/java/com/heartsave/todaktodak_api/diary/constant/DiaryEmotion.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/DiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/request/DiaryWriteRequest.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/DiaryWriteResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/DiaryEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/TodaktodakApiApplicationTests.java
  src/test/java/com/heartsave/todaktodak_api/ai/service/AiServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestObject.java
  src/test/java/com/heartsave/todaktodak_api/config/BaseSpringbootTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: ✨feature, 🏗️config, 🧪test

#24 Feature/todak 106/security config
  .github/workflows/build-spring.yml
  build.gradle
  src/main/java/com/heartsave/todaktodak_api/auth/controller/AuthController.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/BaseException.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorResponse.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/TodakUserDetailsService.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/AuthenticationEntryPointImpl.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/AuthConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/security/domain/AuthType.java
  src/main/java/com/heartsave/todaktodak_api/common/security/domain/TodakUser.java
  src/main/java/com/heartsave/todaktodak_api/common/type/ErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/member/domain/TodakRole.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/auth/controller/AuthControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestObject.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: 🏗️config

#28 feat: 인증 객체 필드에 ID 추가 TODAK-134
  src/main/java/com/heartsave/todaktodak_api/common/security/domain/TodakUser.java
Labels: ✨feature

#30 Feature/todak 135/audit
  src/main/java/com/heartsave/todaktodak_api/common/entity/BaseEntity.java
  src/main/java/com/heartsave/todaktodak_api/config/JpaAuditConfig.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepositoryTest.java
Labels: 🏗️config

#32 feat: Exception 클래스 정리 및 상속화 TODAK-138
  src/main/java/com/heartsave/todaktodak_api/common/exception/BaseException.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorResponse.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/GlobalExceptionHandler.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryDailyWritingLimitExceedException.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: 🏗️config

#33 Feature/todak 127/jwt config
  src/main/java/com/heartsave/todaktodak_api/auth/controller/AuthController.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorResponse.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/GlobalExceptionHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/JwtUtils.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/JwtValidationFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/constant/JwtConstant.java
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/TodaktodakApiApplicationTests.java
  src/test/java/com/heartsave/todaktodak_api/auth/controller/AuthControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/config/TestSecurityConfig.java
  src/test/java/com/heartsave/todaktodak_api/member/repository/MemberRepositoryTest.java
Labels: 🏗️config

#36 Feature/todak 128/diary delete
  src/main/java/com/heartsave/todaktodak_api/diary/controller/DiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/request/DiaryWriteRequest.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryDailyWritingLimitExceedException.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryDeleteNotFoundException.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryException.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/member/exception/MemberException.java
  src/main/java/com/heartsave/todaktodak_api/member/exception/MemberNotFoundException.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestEntity.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestObject.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/DiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: ✨feature, 🏗️config, 🧪test

#40 refactor: 커스텀 예외 객체 로그 메시지 통일화 TODAK-152
  src/main/java/com/heartsave/todaktodak_api/common/exception/BaseException.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorField.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorFieldBuilder.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorResponse.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/ErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/GlobalExceptionHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/DiaryErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/ErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/MemberErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/TokenErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/JwtValidationFilter.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryDailyWritingLimitExceedException.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryDeleteNotFoundException.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryException.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/member/exception/MemberException.java
  src/main/java/com/heartsave/todaktodak_api/member/exception/MemberNotFoundException.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: 🏗️config

#38 Feature/todak 141/oauth2 config
  src/main/java/com/heartsave/todaktodak_api/auth/controller/AuthController.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/LoginIdCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/LoginRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/response/LoginResponse.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/response/NicknameCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/service/AuthService.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/AuthErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/AccessDeniedHandlerImpl.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtAuthFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtLogoutFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtValidationFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/OAuth2SuccessHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/Oauth2FailureHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/TodakOauth2UserDetailsService.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/security/constant/JwtConstant.java
  src/main/java/com/heartsave/todaktodak_api/common/security/domain/TodakUser.java
  src/main/java/com/heartsave/todaktodak_api/common/security/util/CookieUtils.java
  src/main/java/com/heartsave/todaktodak_api/common/security/util/JwtUtils.java
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/auth/controller/AuthControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/auth/service/AuthServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/common/WithMockTodakUser.java
  src/test/java/com/heartsave/todaktodak_api/common/security/WithMockTodakUserSecurityContextFactory.java
  src/test/java/com/heartsave/todaktodak_api/config/TestSecurityConfig.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/DiaryControllerTest.java
Labels: 🏗️config, 🧪test

#42 Feature/todak 153/base auth api
  src/main/java/com/heartsave/todaktodak_api/auth/controller/AuthController.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/EmailCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/LoginIdCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/NicknameCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/SignUpRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/exception/AuthException.java
  src/main/java/com/heartsave/todaktodak_api/auth/service/AuthService.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/AuthErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/TodakUserDetailsService.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtAuthFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtLogoutFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/constant/ConstraintConstant.java
  src/main/java/com/heartsave/todaktodak_api/common/security/util/CookieUtils.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/main/java/com/heartsave/todaktodak_api/member/repository/MemberRepository.java
  src/test/java/com/heartsave/todaktodak_api/auth/controller/AuthControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/auth/service/AuthServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/member/repository/MemberRepositoryTest.java
Labels: ✨feature, 🏗️config, 🧪test

#44 Feature/todak 150/diary year month writing check
  src/main/java/com/heartsave/todaktodak_api/common/entity/BaseEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/DiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/DiaryIndexResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/DiaryEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/DiaryIndexProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestEntity.java
  src/test/java/com/heartsave/todaktodak_api/diary/common/TestDiaryObjectFactory.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/DiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: ✨feature, 🧪test

#46 Feature/todak 155/diary find by date
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/DiaryErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/diary/constant/DiaryEmotion.java
  src/main/java/com/heartsave/todaktodak_api/diary/constant/DiaryReactionType.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/DiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/DiaryViewDetailResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/DiaryEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/DiaryReactionEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/DiaryReactionCountProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/DiaryViewDetailProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryException.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryNotFoundException.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/DiaryReactionRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/DiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: ✨feature, 🧪test

#49 refactor: 일기장 관련 객체 swagger 보충 적용 TODAK-160
  src/main/java/com/heartsave/todaktodak_api/diary/constant/DiaryEmotion.java
  src/main/java/com/heartsave/todaktodak_api/diary/constant/DiaryReactionType.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/request/DiaryWriteRequest.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/DiaryIndexResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/DiaryWriteResponse.java
Labels: 🏗️config

#51 Feature/todak 161/diary public upload
  src/main/java/com/heartsave/todaktodak_api/diary/controller/DiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/PublicDiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/request/PublicDiaryWriteRequest.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/DiaryEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/PublicDiaryEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryNotFoundException.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/PublicDiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryService.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/PublicDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/PublicDiaryRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryServiceTest.java
Labels: ✨feature, 🧪test

#53 Feature/todak 164/public diary reaction
  src/main/java/com/heartsave/todaktodak_api/diary/constant/DiaryEmotion.java
  src/main/java/com/heartsave/todaktodak_api/diary/constant/DiaryReactionType.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/PublicDiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/request/PublicDiaryReactionRequest.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/DiaryEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/DiaryReactionEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/DiaryReactionRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/DiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/PublicDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/DiaryReactionRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryServiceTest.java
Labels: ✨feature, 🧪test

#54 Feature/todak 154/oauth2 api
  build.gradle
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/AuthErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/TodakUserDetailsService.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtAuthFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtValidationFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/OAuth2SuccessHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/Oauth2FailureHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/TodakOauth2Attribute.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/TodakOauth2UserDetailsService.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/security/constant/ConstraintConstant.java
  src/main/java/com/heartsave/todaktodak_api/common/security/constant/Oauth2ErrorConstant.java
  src/main/java/com/heartsave/todaktodak_api/common/security/domain/TodakUser.java
  src/main/java/com/heartsave/todaktodak_api/common/security/util/CookieUtils.java
  src/main/java/com/heartsave/todaktodak_api/common/security/util/JwtUtils.java
  src/main/java/com/heartsave/todaktodak_api/config/JpaAuditConfig.java
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/common/security/WithMockTodakUserSecurityContextFactory.java
Labels: ✨feature, 🏗️config
