Repository kakaotech-19/backend, pull requests merged in 2024-11, with the labels that each got.

#60 Feature/todak 175/token reissue
  src/main/java/com/heartsave/todaktodak_api/auth/controller/AuthController.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/response/LoginResponse.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/response/TokenReissueResponse.java
  src/main/java/com/heartsave/todaktodak_api/auth/service/AuthService.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/AuthErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/TokenErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/AuthenticationEntryPointImpl.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtValidationFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/security/constant/JwtConstant.java
  src/main/java/com/heartsave/todaktodak_api/common/security/domain/TodakUser.java
Labels: ✨feature, 🏗️config

#63 Feature/todak 183/swagger oauth2
  src/main/java/com/heartsave/todaktodak_api/auth/controller/AuthController.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/SignUpRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/service/AuthService.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/config/SwaggerConfig.java
Labels: 🏗️config

#65 Feature/todak 186/member api
  src/main/java/com/heartsave/todaktodak_api/auth/controller/EmailController.java
  src/main/java/com/heartsave/todaktodak_api/member/controller/MemberController.java
  src/main/java/com/heartsave/todaktodak_api/member/dto/request/NicknameUpdateRequest.java
  src/main/java/com/heartsave/todaktodak_api/member/dto/response/MemberProfileResponse.java
  src/main/java/com/heartsave/todaktodak_api/member/dto/response/NicknameUpdateResponse.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/projection/MemberProfileProjection.java
  src/main/java/com/heartsave/todaktodak_api/member/repository/MemberRepository.java
  src/main/java/com/heartsave/todaktodak_api/member/service/MemberService.java
  src/test/java/com/heartsave/todaktodak_api/member/controller/MemberControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/member/repository/MemberRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/member/service/MemberServiceTest.java
Labels: ✨feature, 🧪test

#67 Feature/todak 189/test security utility
  src/test/java/com/heartsave/todaktodak_api/common/security/util/CookieUtilsTest.java
  src/test/java/com/heartsave/todaktodak_api/common/security/util/JwtUtilsTest.java
Labels: 🧪test

#71 refactor: 나의 일기 상세 조회시 Reaction 정보 제공 기능 삭제 TODAK-184
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/DiaryResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: 📦refactor

#69 Feature/todak 192/s3 config
  build.gradle
  src/main/java/com/heartsave/todaktodak_api/TodaktodakApiApplication.java
  src/main/java/com/heartsave/todaktodak_api/common/config/JpaAuditConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/config/S3Config.java
  src/main/java/com/heartsave/todaktodak_api/common/config/SwaggerConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/storage/S3FileStorageService.java
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/TodaktodakApiApplicationTests.java
Labels: 🏗️config

#73 Feature/todak 194/diary my get public summary
  src/main/java/com/heartsave/todaktodak_api/common/storage/S3FileStorageService.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/MySharedDiaryPaginationResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/PublicDiaryPaginationResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/PublicDiaryEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/MySharedDiaryPreviewProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/MySharedDiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryService.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/PublicDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/MySharedDiaryRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryServiceTest.java
Labels: ✨feature, 🧪test

#75 Feature/todak 193/character api
  src/main/java/com/heartsave/todaktodak_api/TodaktodakApiApplication.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/EmailCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/EmailOtpCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/LoginIdCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/NicknameCheckRequest.java
  src/main/java/com/heartsave/todaktodak_api/auth/dto/request/SignUpRequest.java
  src/main/java/com/heartsave/todaktodak_api/common/config/RedisConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/config/S3Config.java
  src/main/java/com/heartsave/todaktodak_api/common/config/properties/S3Properties.java
  src/main/java/com/heartsave/todaktodak_api/common/constant/ConstraintConstant.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/AccessDeniedHandlerImpl.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/TodakUserDetailsService.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtLogoutFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtValidationFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/OAuth2SuccessHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/Oauth2FailureHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/TodakOauth2Attribute.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/storage/S3FileStorageService.java
  src/main/java/com/heartsave/todaktodak_api/member/dto/request/NicknameUpdateRequest.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/main/java/com/heartsave/todaktodak_api/member/service/MemberService.java
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/auth/controller/AuthControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/common/security/WithMockTodakUser.java
  src/test/java/com/heartsave/todaktodak_api/common/security/WithMockTodakUserSecurityContextFactory.java
  src/test/java/com/heartsave/todaktodak_api/common/storage/S3FileStorageServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/DiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/PublicDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/member/controller/MemberControllerTest.java
Labels: ✨feature, 🏗️config, 🧪test

#77 Feature/todak 201/character api 2
  src/main/java/com/heartsave/todaktodak_api/ai/dto/request/AiCharacterRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/dto/request/AiContentRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/dto/response/AiContentResponse.java
  src/main/java/com/heartsave/todaktodak_api/ai/exception/AiException.java
  src/main/java/com/heartsave/todaktodak_api/ai/service/AiService.java
  src/main/java/com/heartsave/todaktodak_api/auth/service/AuthService.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/AiErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtAuthFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/util/CookieUtils.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/PublicDiary.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/DiaryEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/PublicDiaryContentOnlyProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/member/controller/CharacterController.java
  src/main/java/com/heartsave/todaktodak_api/member/dto/response/CharacterRegisterResponse.java
  src/main/java/com/heartsave/todaktodak_api/member/dto/response/CharacterTemporaryImageResponse.java
  src/main/java/com/heartsave/todaktodak_api/member/dto/response/MemberProfileResponse.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/main/java/com/heartsave/todaktodak_api/member/service/CharacterService.java
  src/test/java/com/heartsave/todaktodak_api/ai/service/AiServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: ✨feature

#80 Feature/todak 200/diary my get public detail
  src/main/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/MySharedDiaryResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/MySharedDiaryContentOnlyProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/MySharedDiaryPreviewProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/PublicDiaryNotFoundException.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/DiaryReactionRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/MySharedDiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryService.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestEntity.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/DiaryReactionRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/MySharedDiaryRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryServiceTest.java
Labels: ✨feature, 🧪test

#83 Feature/todak 210/public diary reaction modify
  src/main/java/com/heartsave/todaktodak_api/diary/constant/DiaryEmotion.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/request/DiaryWriteRequest.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/request/PublicDiaryReactionRequest.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/DiaryReactionRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryService.java
  src/test/java/com/heartsave/todaktodak_api/ai/service/AiServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestEntity.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/DiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/DiaryReactionRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryServiceTest.java
Labels: 🛠️fix

#84 Feature/todak 205/member deactivate api
  src/main/java/com/heartsave/todaktodak_api/member/controller/MemberController.java
  src/main/java/com/heartsave/todaktodak_api/member/service/MemberService.java
  src/test/java/com/heartsave/todaktodak_api/member/controller/MemberControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/member/service/MemberServiceTest.java
Labels: ✨feature, 🧪test

#87 Feature/todak 209/webhook webtoon finish
  src/main/java/com/heartsave/todaktodak_api/ai/client/config/AiServerWebClientConfig.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/AiCharacterRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/AiDiaryContentRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/response/AiDiaryContentResponse.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/service/AiClientService.java
  src/main/java/com/heartsave/todaktodak_api/ai/dto/response/AiContentResponse.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/controller/AiWebhookController.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/dto/request/AiWebtoonRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/interceptor/AiServerApiKeyInterceptor.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/repository/AiRepository.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/service/AiDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/common/config/WebConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/AiErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/PublicDiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/PublicDiary.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/DiaryResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/MySharedDiaryResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/DiaryEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/member/controller/CharacterController.java
  src/main/java/com/heartsave/todaktodak_api/member/service/CharacterService.java
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/ai/client/service/AiClientServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/controller/AiWebhookControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/interceptor/AiServerApiKeyInterceptorTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/repository/AiRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/service/AiDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/test_config/TestInterceptorSecurityConfig.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestEntity.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: ✨feature, 🏗️config, 🧪test

#91 Feature/todak 218/diary infinite scroll response change
  src/main/java/com/heartsave/todaktodak_api/diary/dto/PublicDiary.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/MySharedDiaryPaginationResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/PublicDiaryPaginationResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryService.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryServiceTest.java
Labels: ✨feature, 🧪test

#93 Feature/todak 219/diary write ai content add data
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/AiDiaryContentRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/ClientAiCommentRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/ClientBgmRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/ClientCharacterRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/ClientWebtoonRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/response/AiDiaryContentResponse.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/service/AiClientService.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/controller/AiWebhookController.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/dto/request/WebhookBgmCompletionRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/dto/request/WebhookWebtoonCompletionRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/repository/AiRepository.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/service/AiDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/request/DiaryWriteRequest.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/member/controller/CharacterController.java
  src/main/java/com/heartsave/todaktodak_api/member/service/CharacterService.java
  src/test/java/com/heartsave/todaktodak_api/ai/client/service/AiClientServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/controller/AiWebhookControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/interceptor/AiServerApiKeyInterceptorTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/repository/AiRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/service/AiDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: ✨feature, 🧪test

#95 Feature/todak 203/character api 3
  README.md
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/controller/AiWebhookController.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/dto/request/WebhookCharacterCompletionRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/service/AiWebhookCharacterService.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/AuthErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/AccessDeniedHandlerImpl.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/controller/AiWebhookControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/interceptor/AiServerApiKeyInterceptorTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/service/AiWebhookCharacterServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestObject.java
Labels: ✨feature, 🏗️config, 🧪test

#98 Feature/todak 227/diary s3 url save
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/ClientWebtoonRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/dto/request/WebhookCharacterCompletionRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/repository/AiRepository.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/service/AiDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/service/AiWebhookCharacterService.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/S3ErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/storage/s3/S3FileStorageService.java
  src/main/java/com/heartsave/todaktodak_api/common/storage/s3/expcetion/InvalidS3UrlException.java
  src/main/java/com/heartsave/todaktodak_api/common/storage/s3/expcetion/S3Exception.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/request/DiaryWriteRequest.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/main/java/com/heartsave/todaktodak_api/member/service/CharacterService.java
  src/main/java/com/heartsave/todaktodak_api/member/service/MemberService.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/controller/AiWebhookControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/repository/AiRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/service/AiDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/service/AiWebhookCharacterServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/common/storage/S3FileStorageServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/member/service/MemberServiceTest.java
Labels: ✨feature, 🧪test

#99 Feature/todak 229/sse initialize
  src/main/java/com/heartsave/todaktodak_api/ai/client/config/AiServerWebClientConfig.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/config/properties/AiServerProperties.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/domain/AiComment.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/ClientWebtoonRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/service/AiClientService.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/dto/request/WebhookCharacterCompletionRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/service/AiDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/service/AiWebhookCharacterService.java
  src/main/java/com/heartsave/todaktodak_api/common/config/WebConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/GlobalExceptionHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/EventErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/OAuth2SuccessHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/storage/s3/S3FileStorageService.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/DiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/PublicDiary.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/DiaryIndexProjection.java
  src/main/java/com/heartsave/todaktodak_api/event/constant/EventType.java
  src/main/java/com/heartsave/todaktodak_api/event/controller/SseEventController.java
  src/main/java/com/heartsave/todaktodak_api/event/entity/EventEntity.java
  src/main/java/com/heartsave/todaktodak_api/event/exception/EventException.java
  src/main/java/com/heartsave/todaktodak_api/event/repository/EventRepository.java
  src/main/java/com/heartsave/todaktodak_api/event/repository/SseEmitterRepository.java
  src/main/java/com/heartsave/todaktodak_api/event/service/EventService.java
  src/main/java/com/heartsave/todaktodak_api/event/service/SseEventService.java
  src/main/java/com/heartsave/todaktodak_api/member/controller/CharacterController.java
  src/main/java/com/heartsave/todaktodak_api/member/service/CharacterService.java
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/ai/client/service/AiClientServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/controller/AiWebhookControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/interceptor/AiServerApiKeyInterceptorTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/service/AiDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/service/AiWebhookCharacterServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/common/storage/S3FileStorageServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/event/repository/SseEmitterRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/event/service/SseEventServiceSuccessTest.java
Labels: ✨feature, 🧪test

#102 Feature/todak 234/diary ai comment response format
  src/main/java/com/heartsave/todaktodak_api/ai/client/domain/AiComment.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/service/AiClientService.java
  src/test/java/com/heartsave/todaktodak_api/ai/client/service/AiClientServiceTest.java
Labels: ✨feature, 🧪test

#104 Feature/todak 236/auth id annotation
  src/main/java/com/heartsave/todaktodak_api/auth/annotation/TodakUserId.java
  src/main/java/com/heartsave/todaktodak_api/auth/annotation/TodakUserIdResolver.java
  src/main/java/com/heartsave/todaktodak_api/common/config/WebConfig.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/DiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/PublicDiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryService.java
  src/main/java/com/heartsave/todaktodak_api/member/controller/CharacterController.java
  src/main/java/com/heartsave/todaktodak_api/member/controller/MemberController.java
  src/main/java/com/heartsave/todaktodak_api/member/service/CharacterService.java
  src/main/java/com/heartsave/todaktodak_api/member/service/MemberService.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/interceptor/AiServerApiKeyInterceptorTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/DiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/PublicDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/member/controller/MemberControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/member/service/MemberServiceTest.java
Labels: ✨feature, 🧪test

#113 refactor: 웹 클라이언트 날짜 타입 변경 TODAK-246
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/ClientBgmRequest.java
  src/main/java/com/heartsave/todaktodak_api/ai/client/dto/request/ClientWebtoonRequest.java
  src/main/java/com/heartsave/todaktodak_api/common/constant/CoreConstant.java
  src/main/java/com/heartsave/todaktodak_api/common/converter/InstantConverter.java
  src/main/java/com/heartsave/todaktodak_api/common/entity/BaseEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/DiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryController.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/PublicDiary.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/request/DiaryWriteRequest.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/DiaryResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/dto/response/MySharedDiaryResponse.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/DiaryEntity.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/DiaryIndexProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/MySharedDiaryContentOnlyProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/MySharedDiaryPreviewProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/entity/projection/PublicDiaryContentOnlyProjection.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryException.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/DiaryNotFoundException.java
  src/main/java/com/heartsave/todaktodak_api/diary/exception/PublicDiaryNotFoundException.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/MySharedDiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/repository/PublicDiaryRepository.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryService.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/controller/AiWebhookControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/repository/AiRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestObject.java
  src/test/java/com/heartsave/todaktodak_api/diary/common/TestDiaryObjectFactory.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/DiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/controller/MySharedDiaryControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/DiaryRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/MySharedDiaryRepositoryTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/MySharedDiaryServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/PublicDiaryServiceTest.java
Labels: 📦refactor, 🧪test

#117 Oauth2 리소스 및 401/403 응답 에러 테스트
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/AuthErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/AccessDeniedHandlerImpl.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/AuthenticationEntryPointImpl.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtValidationFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/TodakOauth2Attribute.java
  src/test/java/com/heartsave/todaktodak_api/common/BaseTestObject.java
  src/test/java/com/heartsave/todaktodak_api/common/security/component/AccessDeniedHandlerImplTest.java
  src/test/java/com/heartsave/todaktodak_api/common/security/component/AuthenticationEntryPointImplTest.java
  src/test/java/com/heartsave/todaktodak_api/common/security/component/oauth2/TodakOauth2AttributeTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/repository/MySharedDiaryRepositoryTest.java
Labels: 📦refactor, 🧪test

#120 리프레시 토큰과 OTP 캐싱 리팩토링
  build.gradle
  src/main/java/com/heartsave/todaktodak_api/auth/exception/AuthException.java
  src/main/java/com/heartsave/todaktodak_api/auth/repository/OtpCacheRepository.java
  src/main/java/com/heartsave/todaktodak_api/auth/repository/RefreshTokenCacheRepository.java
  src/main/java/com/heartsave/todaktodak_api/auth/service/AuthService.java
  src/main/java/com/heartsave/todaktodak_api/auth/service/EmailService.java
  src/main/java/com/heartsave/todaktodak_api/common/config/RedisConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/config/constant/RedisConstant.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/GlobalExceptionHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtAuthFilter.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/OAuth2SuccessHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/Oauth2FailureHandler.java
  src/main/java/com/heartsave/todaktodak_api/common/security/component/oauth2/TodakOauth2UserDetailsService.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/SecurityConfig.java
  src/main/java/com/heartsave/todaktodak_api/common/security/config/properties/JwtProperties.java
  src/main/resources/application.yaml
  src/test/java/com/heartsave/todaktodak_api/auth/controller/MemberAuthControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/auth/controller/ReissueTokenAuthControllerTest.java
  src/test/java/com/heartsave/todaktodak_api/auth/service/MemberAuthServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/auth/service/ReissueTokenAuthServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtAuthFilterTest.java
  src/test/java/com/heartsave/todaktodak_api/common/security/component/jwt/JwtValidationFilterTest.java
  src/test/java/com/heartsave/todaktodak_api/common/security/util/UtilConfig.java
Labels: 📦refactor, 🏗️config, 🧪test

#123 캐릭터 이미지 등록 흐름 개선
  src/main/java/com/heartsave/todaktodak_api/ai/webhook/service/AiWebhookCharacterService.java
  src/main/java/com/heartsave/todaktodak_api/common/constant/CoreConstant.java
  src/main/java/com/heartsave/todaktodak_api/common/exception/errorspec/MemberErrorSpec.java
  src/main/java/com/heartsave/todaktodak_api/common/storage/s3/S3FileStorageManager.java
  src/main/java/com/heartsave/todaktodak_api/diary/service/DiaryService.java
  src/main/java/com/heartsave/todaktodak_api/event/service/EventService.java
  src/main/java/com/heartsave/todaktodak_api/event/service/SseEventService.java
  src/main/java/com/heartsave/todaktodak_api/member/controller/CharacterController.java
  src/main/java/com/heartsave/todaktodak_api/member/domain/CharacterCache.java
  src/main/java/com/heartsave/todaktodak_api/member/dto/response/CharacterImageResponse.java
  src/main/java/com/heartsave/todaktodak_api/member/dto/response/CharacterTemporaryImageResponse.java
  src/main/java/com/heartsave/todaktodak_api/member/entity/MemberEntity.java
  src/main/java/com/heartsave/todaktodak_api/member/exception/MemberException.java
  src/main/java/com/heartsave/todaktodak_api/member/repository/CharacterCacheRepository.java
  src/main/java/com/heartsave/todaktodak_api/member/service/CharacterService.java
  src/test/java/com/heartsave/todaktodak_api/ai/webhook/service/AiWebhookCharacterServiceTest.java
  src/test/java/com/heartsave/todaktodak_api/diary/service/DiaryServiceTest.java
Labels: 📦refactor, 🧪test
